In [2]:
import pandas as pd
# Read the Excel file
df = pd.read_excel('hi there.xlsx')

# Do something with the data
print(df)

       names favorite color
0      John          purple
1       Erin           grey
2        Sam           pink
3      Tiina          coral
4       Josh           blue
5       Mary         orange
6        Bob            red
7       Lisa     mint green
8      Steve          brown
9  Jeannette       Lavender

In [4]:
import openpyxl

path = "hi there.xlsx"

wb_obj = openpyxl.load_workbook(path)

sheet_obj = wb_obj.active

cell_obj = sheet_obj.cell(row=1, column=1)

print(cell_obj.value)

names

### import openpyxl

path = "hi there.xlsx"

wb_obj = openpyxl.load_workbook(path)

sheet_obj = wb_obj.active

row = sheet_obj.max_row

column = sheet_obj.max_column

print(row)
print(column)

In [9]:
import openpyxl

path = "hi there.xlsx"

wb_obj = openpyxl.load_workbook(path)

sheet_obj = wb_obj.active

print("\nValue of first column")
for i in range(1, row+1):
    cell_obj = sheet_obj.cell(row= i, column =1)
    print(cell_obj.value)

Value of first column
names
John
Erin
Sam
Tiina
Josh
Mary
Bob
Lisa
Steve
Jeannette

In [18]:
import openpyxl
from openpyxl import Workbook
workbook = Workbook()
workbook.save(filename="hi there2.xlsx")
wb = openpyxl.Workbook()
sheet = wb.active
x1 = sheet.cell(row=1, column=1)

x1.value = "Hello"
x2 = sheet.cell(row=1, column=2)
x2.value = "World"
wb.save("hi there2.xlsx")

In [67]:
import pandas as pd
from pathlib import Path

#customer name with favorite color and location


DATA_DIR = Path.cwd() / 'data'
excel_file_path = r"C:\Users\avery\PycharmProjects\Data-Portfolio\data\hi there.xlsx"

orders = pd.read_excel(excel_file_path, sheet_name = 'orders')
customers = pd.read_excel(excel_file_path, sheet_name = 'customers')
products = pd.read_excel(excel_file_path, sheet_name = 'products')

#alternative solution to printing sheets individually
#excel_file = pd.ExcelFile(excel_file_path) 
#sheet_names = excel_file.sheet_names
#print(sheet_names)

df1 = customers.merge(customers,
                  left_on = 'first name',
                  right_on = 'favorite color',
                  how = 'left')
                    
df1.head

<bound method NDFrame.head of   first name_x last name_x favorite color_x        city_x          state_x  \
0        John        Smith           purple      San Jose       California
1         Erin    Williams             grey     San Diego       California
2          Sam  Williamson             pink      Rockwall               TX
3         Tina     Jackson            coral  Indianapolis               IN
4         Josh    Jenkikns             blue    Cincinnati               OH
5         Mary     Ericson           orange   Los Angeles       California
6          Bob       Marly              red        Austin               TX
7         Lisa     Simpson       mint green    Charleston   North Carolina
8        Steve     Cantrel            brown      Rockwall               TX
9    Jeannette        Mack         Lavender  Indianapolis               IN

  first name_y last name_y favorite color_y city_y state_y
0          NaN         NaN              NaN    NaN     NaN
1          NaN         NaN              NaN    NaN     NaN
2          NaN         NaN              NaN    NaN     NaN
3          NaN         NaN              NaN    NaN     NaN
4          NaN         NaN              NaN    NaN     NaN
5          NaN         NaN              NaN    NaN     NaN
6          NaN         NaN              NaN    NaN     NaN
7          NaN         NaN              NaN    NaN     NaN
8          NaN         NaN              NaN    NaN     NaN
9          NaN         NaN              NaN    NaN     NaN  >

In [63]:
import pandas as pd
from pathlib import Path

# query1 matching customers with their favorite color and products of that favorite color

DATA_DIR = Path.cwd() / 'data'
excel_file_path = r"C:\Users\avery\PycharmProjects\Data-Portfolio\data\hi there.xlsx"

orders = pd.read_excel(excel_file_path, sheet_name = 'orders')
customers = pd.read_excel(excel_file_path, sheet_name = 'customers')
products = pd.read_excel(excel_file_path, sheet_name = 'products')

df1 = customers.merge(products,
                  left_on = 'favorite color',
                  right_on = 'color',
                  how = 'left')

df1.head(n=5)

,first name,last name,favorite color,city,state,Shirts,color,inventory,price of shirts,Character,Shorts,color.1,inventory.1,price of shorts
0,John,Smith,purple,San Jose,California,SHIRT D1,purple,38.0,16.85,Kuromi,SHORT 4A,purple,58.0,22.34
1,Erin,Williams,grey,San Diego,California,SHIRT C,grey,30.0,16.85,Badtz Maru,SHORT 3,grey,42.0,22.34
2,Sam,Williamson,pink,Rockwall,TX,SHIRT B,pink,40.0,16.85,Melody,SHORT 2,pink,50.0,22.34
3,Tina,Jackson,coral,Indianapolis,IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Josh,Jenkikns,blue,Cincinnati,OH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd
from pathlib import Path

#query1: results of query1 populated in an excel sheet

DATA_DIR = Path.cwd() / 'data'
excel_file_path = r"C:\Users\avery\PycharmProjects\Data-Portfolio\data\hi there.xlsx"

orders = pd.read_excel(excel_file_path, sheet_name = 'orders')
customers = pd.read_excel(excel_file_path, sheet_name = 'customers')
products = pd.read_excel(excel_file_path, sheet_name = 'products')

df1 = customers.merge(products,
                  left_on = 'favorite color',
                  right_on = 'color',
                  how = 'left')

df1.head(n=5)
                


excel_output_path = DATA_DIR / 'output.xlsx'
df1.to_excel(excel_output_path,
            sheet_name = 'Output',
             index = False)

In [28]:
import pandas as pd
from pathlib import Path

# query1 matching customers with their favorite color and products of that favorite color

DATA_DIR = Path.cwd() / 'data'
excel_file_path = r"C:\Users\avery\PycharmProjects\Data-Portfolio\data\hi there.xlsx"

orders = pd.read_excel(excel_file_path, sheet_name = 'orders')
customers = pd.read_excel(excel_file_path, sheet_name = 'customers')
products = pd.read_excel(excel_file_path, sheet_name = 'products')

df1 = customers.merge(products,
                  left_on = 'favorite color',
                  right_on = 'shirt color',
                  how = 'left')


df1[["first name", "favorite color","shirt color", "shorts color"]]

  first name favorite color shirt color shorts color
0      John          purple      purple       purple
1       Erin           grey        grey         grey
2        Sam           pink        pink         pink
3       Tina          coral         NaN          NaN
4       Josh           blue         NaN          NaN
5       Mary         orange         NaN          NaN
6        Bob            red         red          red
7       Lisa     mint green  mint green   mint green
8      Steve          brown       brown        brown
9  Jeannette       Lavender         NaN          NaN